.game-over {
   display: flex;
   flex-direction: column;
   width: 900px;
   height: 700px;
   background-color: #fff;
   border: 5px solid #000;
   margin: 0 auto;
   margin-top: 100px;
}

.win-text {
   font-size: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   color: red;
}
.win-text img {
   margin-top: 10px;
   width: 400px;
   height: 400px;
}

.score {
   display: flex;
   justify-content: space-between;
   font-size: 20px;
}

.again {
   margin: 0 auto;
   width: 200px;
   height: 50px;
}
